body {

    background: radial-gradient(circle, rgba(148, 187, 233, 1) 71%, rgba(238, 174, 202, 1) 100%, rgba(148, 187, 233, 1) 100%);
}

.background {
    
    width: 99vw;
 
    background-color: rgba(162, 237, 240, 0.425);
    border-radius: 10px;
    flex-direction: column;

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;

}

form {
    display: flex;
    flex-direction: column;
}

#foto_mae,#foto_Processador {

width: 40vh;
}

#img {
    width: 30%;
    height: fit-content;
}
#tabela{
width: 200vw;
    display: flex;
    flex-flow: row wrap;
justify-content: flex-start;
}

.pc{
    width:500px;
}

.side_menu{
    
  width:1000px;
    background-color: black;

}

.section_2{
    display: flex;
padding: 50px;
}